/* List view */
.list-view .content {
    display: flex;
    flex: 4;
}

.list-view .all-content {
    display: flex;
    flex-direction: column;
}

.list-view .room-grid {
    flex: 1;
}

.list-view .room-view-form {
    flex: 4;
    padding-top: 0;
    padding-bottom: 0;
}

.list-view .clear-filters-btn {
    margin-top: 2.5em;
}

.room-view-form .room-content {
    display: flex;
    flex-direction: row;
}

.room-view-form .properties {
    flex: 3;
}

.room-view-form .room-heading {
    margin-top: 20px;
}

.room-view-form .image-grid {
    flex: 1;
    margin-top: 0;
    padding-left: var(--lumo-space-m);
    padding-right: var(--lumo-space-m);
    overflow: auto;
}

:host(.image-grid) [part="row"] {
    min-height: 300px;
    background-color: red;
}

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .room-grid {
        display: none;
    }
}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}

.overlay-image {
    margin-top: 50px;
    overflow: none;
}